.Key-input-label {
  padding-right: 6px;
}
.Title{
    font-size: 3rem;
}
.Api-key {
  box-sizing: border-box;
  background-color: rgb(26, 28, 33);
  border: none;
  border-radius: 5px;
  height: 30px;
  width: 40rem;
  padding-left: 1rem;
  font-family: Roboto;
  font-size: 80%;
  color: white;
  box-shadow: 0rem 0rem 0.5rem rgb(25, 26, 26) ;
}
.Key-form{
    display: flex;
    flex-direction: column;
}
.Error{
    color: red;
    max-width: fit-content;
    font-size: 60%;

    
    padding-right: 0.4rem;
    border-radius: 5px;

}